extends layout

block content
  
  section(id='blogs')
    h2 Blog List
    div(id='admin')
      button(type='button' onclick='toggleEdit(new_blog.id)')= 'New Blog Toggle'
      form(method='POST' action='/add' id='new_blog' style='display:none;')
        label(for='newtitle')= 'Title:' 
        br
        input(type='txt' name='newtitle' required)
        br
        label(for='newbody' required)= 'Body:'
        br
        textarea(rows='10' cols='50' name='newbody' required)
        br
        button(type='submit' text='Add to')='Submit new blog!'
    each val in data
      input(type='checkbox' id=val.blog_id*(-1) style='display:none' class='blogcard')
      label(for=val.blog_id*(-1) class='bloglabel')
        section(class='card')
          h3= val.blog_title
          p= val.blog_text 
          button(type='button' onclick='toggleEdit('+ val.blog_id + ')')= 'Toggle Edit'
          br
          form(id=val.blog_id method='POST' action='/edit' style='display:none;')
            label(for='title')= 'Title'
            br
            input(type='txt' name='title' value=val.blog_title required)
            br
            label(for='text')= 'Body'
            br
            textarea(rows='10' cols='50' name='text' required)= val.blog_text
            br
            input(type='hidden' name='id' value=val.blog_id required)
            br
            button(type='submit')= 'Submit'
          form(method='POST' action='/delete')
            input(type='hidden' name='id' value=val.blog_id)
            button(type='submit')= 'Delete Blog'
    
    

  