doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/util.js')
  body
    nav
      h1= title
      div(class='links')
        a(href='/')= 'Home'
        a(href='/about')= 'About'
        a(href='/contact')= 'Contact'
    main
      section(id='sm_about')
        p Placeholder for image
        br
        p Small about the blogger section 
      block content
    
