doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/util.js')
  body
    nav
      h1= title
      div(class='links')
        a(href='/')= 'Home'
        a(href='/about')= 'About'
        a(href='/contact')= 'Contact'
    main
      section(id='sm_about')
        h2 Anthony Baird
        img(src='/images/author.jpg')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sint ad minima, facere earum voluptates enim libero nam temporibus? Pariatur similique ducimus recusandae corporis libero architecto, laborum totam sed voluptates?
      block content
    
